* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.sidebar {
    display: inline-block;
    min-height: 60vh;
    width: 15vw;
    border: 1px solid red;
}

.content {
    display: inline-block;
    min-height: 60vh;
    width: 30vw;
    border: 1px solid red;
}

.innerWrap {
    display: flex;
}

.selectWrapper {
    width: 100px;
}

.inputForm {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(218, 146, 146);
}