* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.sidebar {
    display: inline-block;
    min-height: 60vh;
    width: 13vw;
    background-color: rgb(228, 228, 250);
}

.content {
    display: inline-block;
    min-height: 60vh;
    width: 60vw;

}

.innerWrap {
    display: flex;
}

#addBtn, #cancelBtn {
    width: 60px;
    text-decoration: none;
    border: none;
    padding: 5px;
}
#addBtn {
    background-color: rgb(176, 200, 245);
}
#cancelBtn {
    background-color: rgb(151, 174, 247);
}
#editBtn, #deleteBtn {
    cursor: pointer;
}
#title {
    margin: 0px 20px;
    width: 150px;
}



#editBtn {
    margin-left: 125px;
}
.inputForm {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 635px;
    background-color: rgb(84, 167, 206);
}

#titleInput, #dateInput {
    margin-left: 5px;
    margin-right: 30px;
}

.eachTodo {
    display: flex;
    align-items: center;
    height: 30px;
    width: 500px;
    background-color: rgb(114, 245, 250);
    
}

h3, #projects {
    cursor: pointer;
}


.validationError {
    background-color: rgb(223, 37, 37);
    color: white;
    width: 635px;
}

.expandTodo {
    height: 400px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    border: 1px solid blue;
    position: relative;
    margin: auto;
    margin-top: 30px;
}

.expandTodo input[type="text"] {
    width: 300px;
}

#select, #dueDateInput {
    width: 300px;
}


#textDescriptionInput {
    padding: 10px;
    padding-bottom: 120px;   
}

.selectWrapper{
    display: inline-block;
}

.addAndCancelContainer {
    display: flex;
    margin-top: 30px;
    width: 300px;
    justify-content: space-between;
}

.lowPriority {
    background-color: rgb(191, 191, 248);
}
.mediumPriority {
    background-color: rgb(243, 250, 144);
}
.highPriority {
    background-color: rgb(250, 87, 120);
}

/*  HEADER DESIGN  */
#headerLogo {
    font-size: 100px;
    margin: 0px 20px;
}
.headerContainer {
    display: flex;
    align-items: center;
    height: 140px;
    background-color: rgb(49, 49, 247);
}

h1 {
    font-size: 70px;
}

/*  END HEADER DESIGN */

h2, h3 {
    margin-bottom: 10px;
}

.sidebarContent {
    margin-left: 10px;
    margin-top: 10px;

}
.openProjectsFormBtn {
    cursor: pointer;
}
#sidebarLogo {
    margin-right: 3px;
}

#inbox, #today, #week {
    display: flex;
    align-items: center;
}
#projects {
    margin-bottom: 7px;
}
.eachProject {
    margin-left: 40px;
    margin-top: 2px;
    display: flex;
    width: 270px;
    height: 30px;
    align-items: center;
    position: relative;
}
.ProjectDeleteBtn {
    position: absolute;
    right: 0px;
    top: 0px;
    cursor: pointer;
}
.eachProjectsHeader {
    cursor: pointer;
    margin: 0px 10px;
}
.openFormBtn {
    cursor: pointer;
    display: inline-block;
}

@media (max-width: 480px) {
    /* #headerLogo .headerContainer h1 */
    #headerLogo {
        font-size: 80px;
    }
    .headerContainer {
        height: 100px;
        width: 100vw;
    }
    h1 {
        font-size: 40px;
    }

    .innerWrap, .sidebar, .content {
        display: block;
    }
    .sidebar {
        width: 100vw;
        min-height: 30vh;
    }

    .content, .eachTodo {
        width: 100vw;
    }
    #title {
        width: 200px;
    }
    #date  {
        width: 300px;
        
    }

    #editBtn {
        margin-left: 30px;
    }

    .sidebarContent, .sidebar, .headerContainer {
        margin: 0px;
    }
    #projects {
        margin-left: 10px;
        margin-top: 0px;
    }
    .inputForm {
        width: 100vw;
    }
    #titleInput {
        width: 100px;
    }
    #addBtn, #cancelBtn {
        width: 50px;
        text-decoration: none;
        border: none;
        padding: 5px;
    }
    .validationError {
        width: 100vw;
    }
}